<div class="nav">
 <h1>SWAPI Search</h1>
</div>

<form class="example-form">
  <mat-form-field>
    <mat-label>Select Search Type</mat-label>
    <mat-select #select class="select-text">
      <mat-option #type *ngFor="let choice of choices" ([choice]) = "choice.value"[value]="choice.value">
        {{choice.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <input #input  matInput placeholder="Search">
  </mat-form-field>
  <br>
  <button mat-button class="button" (click)="search(select.value,input.value)">Search</button>
</form>
<br>

<div *ngIf="searchResults">
  <div *ngIf="select.value == 'people'">
    <div *ngFor="let result of searchResults.results">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{result.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3>Stats</h3>
          <h5>gender: {{result.gender}}</h5>
          <h5>height: {{result.height}} cm</h5>
          <h5>Weight: {{result.mass}} kg</h5>
        </mat-card-content>
      </mat-card>
      <br>
    </div>
  </div>

  <div *ngIf="select.value == 'starships'">
    <div *ngFor="let result of searchResults.results">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{result.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3>Stats</h3>
          <h5>hyperdrive rating: {{result.hyperdrive_rating}}</h5>
          <h5>cost: {{result.cost_in_credits}} credits</h5>
          <h5>cargo capacity: {{result.cargo_capacity}} kg</h5>
        </mat-card-content>
      </mat-card>
      <br>
    </div>
  </div>

  <div *ngIf="select.value == 'films'">
      <div *ngFor="let result of searchResults.results">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>{{result.title}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h3>Stats</h3>
            <h5>Director: {{result.director}}</h5>
            <h5>Producer: {{result.producer}}</h5>
            <h5>Episode Number: {{result.episode_id}}</h5>
          </mat-card-content>
        </mat-card>
        <br>
      </div>
    </div>
</div>
