<mat-toolbar><button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>People</button>
    <button mat-menu-item>Ships</button>
    <button mat-menu-item>Films</button>
    <button mat-menu-item>Seal Team 6</button>
  </mat-menu>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search" value="">
    </mat-form-field>
    <button>Submit</button>
  </form>
</mat-toolbar>



<router-outlet></router-outlet>